
* {
    box-sizing: border-box;    
}

body {
	margin: 0;
	padding: 0;
	background:url(fundo2.png);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	color: white;
}
body a{color:white;}
.header {
    text-align: center;    
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    position: center;
}

.menu {  
    text-align: center;
}

h1{
	color:white
}
.menu a{color:#fff;}