<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8"> 
		<meta name =  "viewport" content = "width=device-width, initial-scale = 1.0">
		<link rel = "stylesheet" type = "text/css" href = "index.css">
		<title> Index </title>
		<link rel = "icon" type = "image/png" href = "icone.png"/>
	</head>
	<body>
		<div id ="menu">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Alunos</a></li>
				<li><a href="">Atividades</a></li>
				<li><a href="">Detalhes da Disciplina</a></li>
				<li><a href="">Nova disciplina</a></li>
			</ul>
		</div>
		<div id = "Container">
			<div class = "alinhamento">
				Noticias.
			</div>
			<div class = "alinhamento">
				Carlos: Melhor instituição pela qual já passei.
			</div>
			<div class = "alinhamento">
				<src="medalha.png">
				instituição com menor índice de abandono 
			</div>
		</div>
	</body>
</html>