
* {
    box-sizing: border-box;
    
    
}
.header {
    text-align: center;    
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    position: center;
}

.menu {  
    text-align: center;
}
body { 
	background-image: url('fundo.jpg'); 
} 
h1{
	color:white;
}
a{
    color:white;
}
label{
    color: white;
}